<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/images/photofav.jpeg"
      type="image/x-icon"
    />
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <!-- custom css -->
    <link rel="stylesheet" href="/css/index.css" />
    <title>${title}</title>
  </head>
  <body>
    <header>
      <nav class="navs y-wrap">
        <ul class="nav-left">
          <li>${header}</li>
          <li><a href="/signup.html">SIGNUP</a></li>
          <li><a href="/upload-v1.html">UPLOAD PHOTO</a></li>
          <li><a href="/users">USERS 🦸🏽‍♂️🦸🏻‍♂️</a></li>
          <li><a href="/users/photos">PHOTOS</a></li>
        </ul>
        <ul class="nav-right">
          <li><a href="/puppy.html">PUPPY TIME! 🐶</a></li>
          <li><a href="/logout">LOGOUT 👋</a></li>
        </ul>
      </nav>
    </header>
    <main class="content">
      <!-- ${header} -->
      <div class="text-center">
        <h1>Foto memories</h1>
        <p>Hi, ${user.displayName}!</p>
        <p>Your loginStrategy ID: ${user.id}</p>
      </div>
    </main>
    <footer>Privacy Policy</footer>
  </body>
</html>
